/build/
.DS_Store
WebContent/WEB-INF/.DS_Store
src/com/library/.DS_Store
.idea/
library-application.iml
web/
.settings/*
classes/*
/.classpath
/*.project
.classpath~f23d735dd5bf868491bed970ff27c482cbf0ff63
